<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>咖啡管理后台-咖啡查询</title>
    <meta content="Admin Dashboard" name="description"/>
    <meta content="Themesbrand" name="author"/>
    <link rel="shortcut icon" href="../assets/images/favicon.ico">

    <link href="../assets/css/ion.rangeSlider.min.css" rel="stylesheet" type="text/css">

    <link href="http://cdn.bootstrapmb.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/metisMenu.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/upload-img.css" rel="stylesheet" type="text/css">
</head>

<body>

<!-- Begin page -->
<div id="wrapper">

    <!-- Top Bar Start -->
    <div class="topbar">

        <!-- LOGO -->
        <div class="topbar-left">
            <a href="index.html" class="logo">
						<span>
							<img src="../assets/images/logo-light.png" alt="" height="18">
						</span>
                <i>
                    <img src="../assets/images/logo-sm.png" alt="" height="22">
                </i>
            </a>
        </div>
        <nav class="navbar-custom">
            <ul class="list-inline menu-left mb-0">
                <li class="float-left">
                    <button class="button-menu-mobile open-left waves-effect">
                        <i class="mdi mdi-menu"></i>
                    </button>
                    <span style="font-size: 18px;margin-left: 5px;">商品查询</span>
                </li>
            </ul>


        </nav>
    </div>
    <!-- Top Bar End -->

    <!-- ========== Left Sidebar Start ========== -->
    <div id="leftMenu">

    </div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page" id="content">
        <!-- 页面主体内容开始 -->
        <div class="content">
            <!-- 页面主体内容开始 -->
            <div class="container-fluid">
                <div class="page-title-box">
                    <div class="row align-items-center">
                            <div class="col-sm-3 col-md-2">
                                <div class="dataTables_filter">
                                    <label>
                                        咖啡名称:<input v-model="params.coffeeName" type="text" class="form-control form-control-sm">
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-3 col-md-2">
                                <div class="dataTables_filter">
                                    <label>
                                        价格:
                                    </label>
                                    <input v-model="params.startPrices" type="text" id="range_03">
                                </div>
                            </div>

                            <div class="col-sm-2 col-md-2">
                                <div class="dataTables_length" >
                                    <label>
                                        <select v-model="params.coffeeStatus" class="custom-select custom-select-md form-control form-control-sm" style="margin-top: 17px">
                                            <option value="-1">选择状态</option>
                                            <option value="0">启用</option>
                                            <option value="1">禁用</option>
                                        </select>
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-2 col-md-1">
                                <button @click="selectCoffee()" type="button" class="btn btn-info waves-effect waves-light" style="margin-top: 17px">查询</button>
                            </div>

                    </div> <!-- end row -->
                </div>
                <!-- end page-title -->

                <div class="row">
                    <div class="col-xl-3 col-md-6" v-for="(data,index) in dataList">
                        <div class="card product-box">
                            <div class="card-body">
                                <div class="product-img">
                                    <a @click="coffeePhotoInfo(data.coffeeId,data.coffeePhoto)" href="#" data-toggle="modal" data-target=".bs-example-modal-sm" title="点击修改咖啡图片">
                                        <img  v-if="data.coffeePhoto == null || data.coffeePhoto == ''" src="../assets/images/products/1.jpg" class="img-fluid rounded-top mx-auto d-block">
                                        <img  v-else :src="data.coffeePhoto" class="img-fluid rounded-top mx-auto d-block" style="height: 293.81px">
                                    </a>
                                </div>

                                <div class="detail mt-3">
                                    <h4 class="font-16"><a @click="coffeeInfo(data)" href="#" class="text-dark" data-toggle="modal" data-target="#coffeeMoal">{{data.coffeeName}}</a> <span class="float-right">{{data.stockCount}}库存</span> </h4>
                                    <span v-if="data.coffeeBrief == null">暂无简介</span>
                                    <span v-else :title="data.coffeeBrief">{{(data.coffeeBrief).length > 11 ? (data.coffeeBrief).substring(0,10) + '...':(data.coffeeBrief)}}</span>
                                    <h5 class="my-0 font-16 float-right" v-if="data.coffeeDiscount == 0 || data.coffeeDiscount == null || data.coffeeDiscount == ''">
                                        <b>￥{{data.coffeePrices}}</b>
                                    </h5>
                                    <h5 class="my-0 font-16 float-right" v-else>
                                        <span class="text-muted mr-2"><del>￥{{data.coffeePrices}}</del></span>
                                        <b>￥{{data.coffeeDiscount}}</b>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <!-- end product-box -->
                    </div>
                </div>

                <div style="width: 320px">
                    <a href="#">
                    <ul id="page">

                    </ul>
                    </a>
                </div>
                <!--咖啡信息模特框-->
                <div id="coffeeMoal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title mt-0" id="myModalLabel">咖啡信息</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <form id="coffeeInfoForm">
                                                    <div class="form-group">
                                                        <label>咖啡名称</label>
                                                        <input v-model="updateParams.coffeeName" type="text" class="form-control" required placeholder="此值是必需的..."/>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>价格(元)</label>
                                                                <input v-model="updateParams.coffeePrices" type="text" class="form-control" data-parsley-type="number" required placeholder="请填写数字"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>折扣价(元)</label>
                                                                <input v-model="updateParams.coffeeDiscount" type="text" class="form-control" data-parsley-type="number" placeholder="填写数字"/>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-3">
                                                            <div class="form-group">
                                                                <label>状态</label>
                                                                <select v-model="updateParams.coffeeStatus" class="form-control">
                                                                    <option value="0">上架</option>
                                                                    <option value="1">下架</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <div class="form-group">
                                                                <label>咖啡级别</label>
                                                                <select v-model="updateParams.coffeeLevel" class="form-control">
                                                                    <option value="0">上架</option>
                                                                    <option value="1">下架</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <div class="form-group">
                                                                <label>是否新品</label>
                                                                <select v-model="updateParams.coffeeIsNew" class="form-control">
                                                                    <option value="0">是</option>
                                                                    <option value="1">否</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <div class="form-group">
                                                                <label>是否热卖</label>
                                                                <select v-model="updateParams.coffeeIsHot" class="form-control">
                                                                    <option value="0">是</option>
                                                                    <option value="1">否</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>咖啡简介</label>
                                                        <textarea v-model="updateParams.coffeeBrief" class="form-control" rows="2" required placeholder="此值是必需的..."></textarea>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>咖啡详情</label>
                                                        <textarea v-model="updateParams.coffeeDetails" class="form-control" rows="3" required placeholder="此值是必需的..."></textarea>
                                                    </div>

                                                    <div class="form-group mb-0">
                                                        <div>
                                                            <button type="submit" class="btn btn-primary waves-effect waves-light mr-1" @click="updateCoffeeInfo()">保存</button>
                                                            <button type="reset" class="btn btn-secondary waves-effect">重置</button>
                                                        </div>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="modal-footer">
                                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary waves-effect waves-light" @click="updateCoffeeInfo()">修改</button>
                            </div>-->
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

                <!--咖啡图片模特框-->
                <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title mt-0" id="mySmallModalLabel">咖啡图片</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
                                <div class="upload-img-column">
                                    <div class="upload-wrap">
                                        <div class="box">
                                            <label class="p dotted">
                                                <input type="file" accept="image/jpg,image/jpeg,image/png" name="photo" @change="onChooseImage($event)"/>
                                                <img v-if="photoParams.coffeePhoto == '' || photoParams.coffeePhoto == null" class="coffeeImg" src="../assets/images/jiahao.png" alt="">
                                                <img v-else class="coffeeImg" :src="photoParams.coffeePhoto" alt="">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary waves-effect waves-light" @click="uploadImg()">上传图片</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>
            <!-- end row -->
        </div>
        <!-- 页面主体内容结束 -->
        <footer class="footer">
			© 2020 毕业设计 <span class="d-none d-sm-inline-block"> - <i class="mdi mdi-heart text-danger"></i> by 蔬菜百科.</span>
        </footer>

    </div>

</div>
<!-- 页面主体内容结束 -->

</div>

<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->

</div>
<!-- END wrapper -->

<!-- jQuery  -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/vue.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/metisMenu.min.js"></script>
<script src="../assets/js/jquery.slimscroll.js"></script>
<script src="../assets/js/waves.min.js"></script>
<script src="../assets/js/axios.min.js"></script>
<script src="../assets/js/bootstrap-paginator.js"></script>
<!-- range slider js -->
<script src="../assets/js/ion.rangeSlider.min.js"></script>
<script src="../assets/pages/rangeslider-init.js"></script>

<script src="../assets/js/parsley.min.js"></script>
<!-- App js -->
<!--<script src="../assets/js/app.js"></script>-->
<script>
    $(function () {
        $("#leftMenu").load("leftMenu.html");
    })
</script>
<script>
    var vm = new Vue({
        el:"#content",
        data:{
            params:{
                coffeeName:"",
                startPrices:0,
                endPrices:30,
                coffeeStatus:-1,
                pageSize:8,
                currentPage:1,
            },
            file:null,
            dataList:[],

            //修改咖啡信息所需参数
            updateParams:{

            },
            //修改咖啡图片所需参数
            photoParams:{
                coffeeId:null,
                coffeePhoto:''
            }
        },
        mounted:function () {
            //初始化分页模板
            var options = {
                bootstrapMajorVersion: 4,
                currentPage: this.params.currentPage, // 当前页数
                numberOfPages: 5, // 显示按钮的数量
                totalPages: this.params.pages, // 总页数
                onPageClicked:function(event, originalEvent, type,page){
                    vm.params.currentPage=page;
                    vm.selectCoffee();
                },
                onPageChanged:function(event, oldPage, newPage){
                    vm.params.currentPage=newPage;
                    vm.selectCoffee();
                }
            };
            $("#page").bootstrapPaginator(options);

            this.selectCoffee();
        },

        methods:{
            //查询咖啡
            selectCoffee:function () {
                axios({
                    method:'GET',
                    url:'http://localhost:9000/coffee/selectCoffee',
                    params: this.params,
                }).then(res =>{
                    if (res.data.code === 0){
                        this.dataList = res.data.dataList;
                        vm.params.pages = res.data.pages;//总页数
                        vm.params.currentPage = res.data.pageNum //第几页
                        $("#page").bootstrapPaginator('setOptions',{currentPage:vm.params.currentPage,totalPages:vm.params.pages});
                    }
                }).catch(res =>{
                    console.log(res);
                })
            },

            //选择图片
            onChooseImage:function (event) {
                //$(".coffeeImg").empty();//清空图片
                //使用FileReader对文件对象进行操作
                var fileReader = new FileReader();
                //将读取到的文件编码成Data URL
                this.file = event.target.files[0];
                fileReader.readAsDataURL(this.file);
                //读取完成时
                fileReader.onload = function () {
                    //文件输出的内容
                    var resultSrc = fileReader.result;
                    $(".coffeeImg").attr("src",resultSrc);
                }
            },

            //点击图片，获得咖啡图片id
            coffeePhotoInfo:function(coffeeId,coffeePhoto){
                this.photoParams.coffeeId = coffeeId;
                this.photoParams.coffeePhoto = coffeePhoto;
            },

            //上传图片
            uploadImg:function () {
                //删除原图片
                if(this.photoParams.coffeePhoto !=null && this.photoParams.coffeePhoto != ''){
                    var url = "http://localhost:9000/upload/deletePhoto";
                    var args = {
                        "photo":this.photoParams.coffeePhoto,
                        "type":"coffee"
                    }
                    $.post(url,args,function (res) {
                        //删除成功后上传新的图片
                        if (res.code === 0 ){
                            //创建FormData对象
                            var formDate = new FormData();
                            formDate.append('photo',vm.file);
                            formDate.append('type','coffee');
                            axios({
                                method: "POST",
                                url:"http://localhost:9000/upload/uploadPhoto",
                                data: formDate,
                                headers:{
                                    "Content-Type": "multipart/form-data"
                                }
                            }).then(res => {
                                //上传图片成功，获取图片信息后，保存图片信息
                                if (res.data.code === 0){
                                    vm.photoParams.coffeePhoto ="http://localhost:9000/img/coffee/" + res.data.fileName + res.data.extendedName;
                                    axios({
                                        method:"POST",
                                        url:"http://localhost:9000/coffee/updateCoffee",
                                        data:JSON.stringify(vm.photoParams),
                                        headers: {
                                            "Content-Type":"application/json"
                                        }
                                    }).then(res => {
                                        if (res.data.code === 0){
                                            vm.selectCoffee();
                                            $(".bs-example-modal-sm").modal("hide")//关闭模态框
                                        }
                                    }).catch(res => {
                                        console.log(res);
                                    })
                                }
                            }).catch(res => {
                                console.log(res);
                            })
                        }else {
                            console.log("删除图片失败！");
                        }
                    })

                }else {
                    //创建FormData对象
                    var formDate = new FormData();
                    formDate.append('photo',vm.file);
                    formDate.append('type','coffee');
                    axios({
                        method: "POST",
                        url:"http://localhost:9000/upload/uploadPhoto",
                        data: formDate,
                        headers:{
                            "Content-Type": "multipart/form-data"
                        }
                    }).then(res => {
                        //上传图片成功，获取图片信息后，保存图片信息
                        if (res.data.code === 0){
                            this.photoParams.coffeePhoto ="http://localhost:9000/img/coffee/" + res.data.fileName + res.data.extendedName;
                            axios({
                                method:"POST",
                                url:"http://localhost:9000/coffee/updateCoffee",
                                data:JSON.stringify(this.photoParams),
                                headers: {
                                    "Content-Type":"application/json"
                                }
                            }).then(res => {
                                if (res.data.code === 0){
                                    this.selectCoffee();
                                    $(".bs-example-modal-sm").modal("hide")//关闭模态框
                                }
                            }).catch(res => {
                                console.log(res);
                            })
                        }
                    }).catch(res => {
                        console.log(res);
                    })
                }

            },

            //咖啡信息
            coffeeInfo:function(data){
              this.updateParams = data;
            },

            //修改咖啡信息
            updateCoffeeInfo:function () {
                //获取验证状态
                var flag = $('#coffeeInfoForm').parsley().isValid();
                if(flag){
                    axios({
                        method:"POST",
                        url:"http://localhost:9000/coffee/updateCoffee",
                        data:JSON.stringify(this.updateParams),
                        headers: {
                            "Content-Type":"application/json"
                        }
                    }).then(res => {
                        console.log(res);
                        this.selectCoffee();
                    }).catch(res => {
                        console.log(res);
                    })
                }else {
                    return false;
                }
            }
        }
    })
</script>
</body>

</html>
