<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>咖啡管理后台-咖啡录入</title>
    <meta content="Admin Dashboard" name="description"/>
    <meta content="Themesbrand" name="author"/>
    <link rel="shortcut icon" href="../assets/images/favicon.ico">

    <link href="http://cdn.bootstrapmb.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/metisMenu.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/upload-img.css" rel="stylesheet" type="text/css">
</head>

<body>

<!-- Begin page -->
<div id="wrapper">

    <!-- Top Bar Start -->
    <div class="topbar">

        <!-- LOGO -->
        <div class="topbar-left">
            <a href="index.html" class="logo">
						<span>
							<img src="../assets/images/logo-light.png" alt="" height="18">
						</span>
                <i>
                    <img src="../assets/images/logo-sm.png" alt="" height="22">
                </i>
            </a>
        </div>
        <nav class="navbar-custom">
            <ul class="list-inline menu-left mb-0">
                <li class="float-left">
                    <button class="button-menu-mobile open-left waves-effect">
                        <i class="mdi mdi-menu"></i>
                    </button>
                    <span style="font-size: 18px;margin-left: 5px;">商品录入</span>
                </li>
            </ul>


        </nav>
    </div>
    <!-- Top Bar End -->

    <!-- ========== Left Sidebar Start ========== -->
    <div id="leftMenu">

    </div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page" id="content">
        <!-- 页面主体内容开始 -->
        <div class="content">
            <div class="container-fluid">
                <!-- end row -->
                <div class="content">
                    <div class="container-fluid">
                        <div class="page-title-box">
                            <span>请填写新增咖啡的相关信息</span>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <form id="coffeeInfoForm">
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <div class="upload-img-column">
                                                        <div class="upload-wrap">
                                                            <div class="box" style="width: 200px;height: 200px">
                                                                <label class="p dotted">
                                                                    <div class="form-group">
                                                                        <input type="file" accept="image/jpg,image/jpeg,image/png" name="photo" @change="onChooseImage($event)" v-model="addParams.coffeePhoto"/>
                                                                        <img class="coffeeImg" src="../assets/images/jiahao.png" alt="">
                                                                    </div>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-9">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <label>咖啡名称</label>
                                                                <input v-model="addParams.coffeeName" type="text" class="form-control" required placeholder="此值是必需的..."/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>价格(元)</label>
                                                                <input v-model="addParams.coffeePrices" type="text" class="form-control" data-parsley-type="number" required placeholder="请填写数字"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>折扣价(元)</label>
                                                                <input v-model="addParams.coffeeDiscount" type="text" class="form-control" data-parsley-type="number" placeholder="填写数字"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <label>状态</label>
                                                        <select v-model="addParams.coffeeStatus" class="form-control">
                                                            <option value="0">上架</option>
                                                            <option value="1">下架</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <label>咖啡级别</label>
                                                        <select v-model="addParams.coffeeLevel" class="form-control">
                                                            <option value="0">上架</option>
                                                            <option value="1">下架</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <label>是否新品</label>
                                                        <select v-model="addParams.coffeeIsNew" class="form-control">
                                                            <option value="0">是</option>
                                                            <option value="1">否</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <label>是否热卖</label>
                                                        <select v-model="addParams.coffeeIsHot" class="form-control">
                                                            <option value="0">是</option>
                                                            <option value="1">否</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>咖啡简介</label>
                                                <textarea v-model="addParams.coffeeBrief" class="form-control" rows="2" required placeholder="此值是必需的..."></textarea>
                                            </div>

                                            <div class="form-group">
                                                <label>咖啡详情</label>
                                                <textarea v-model="addParams.coffeeDetails" class="form-control" rows="3" required placeholder="此值是必需的..."></textarea>
                                            </div>

                                            <div class="form-group mb-0">
                                                <div>
                                                    <button type="button" class="btn btn-primary waves-effect waves-light mr-1" @click="addInsert()">保存</button>
                                                    <button type="reset" class="btn btn-secondary waves-effect">重置</button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- container-fluid -->

                </div>
                <!-- 结束 -->
            </div>
        </div>
        <!-- 页面主体内容结束 -->
        <footer class="footer">
            © 2020 毕业设计 <span class="d-none d-sm-inline-block"> - 咖啡销售管理系统.</span>
        </footer>

    </div>

    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->

</div>
<!-- END wrapper -->

<!-- jQuery  -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/vue.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/metisMenu.min.js"></script>
<script src="../assets/js/jquery.slimscroll.js"></script>
<script src="../assets/js/waves.min.js"></script>
<script src="../assets/js/axios.min.js"></script>
<script src="../assets/js/parsley.min.js"></script>
<!-- App js -->
<!--<script src="../assets/js/app.js"></script>-->
<script>
    $(function () {
        $("#leftMenu").load("leftMenu.html");
    })
</script>
<script>
    var vm = new Vue({
        el:"#content",
        data:{
            addParams:{
                
            },
            file:null,
        },

        mounted:function () {

        },

        methods:{
            //选择图片
            onChooseImage:function (event) {
                //$(".coffeeImg").empty();//清空图片
                //使用FileReader对文件对象进行操作
                var fileReader = new FileReader();
                //将读取到的文件编码成Data URL
                this.file = event.target.files[0];
                fileReader.readAsDataURL(this.file);
                //读取完成时
                fileReader.onload = function () {
                    //文件输出的内容
                    var resultSrc = fileReader.result;
                    $(".coffeeImg").attr("src",resultSrc);
                }
            },

            //咖啡添加
            addInsert:function () {
                var flag = $('#coffeeInfoForm').parsley().isValid();
                if (flag && vm.file != null ){
                    //上传咖啡图片
                    var formDate = new FormData();
                    formDate.append('photo',this.file);
                    formDate.append('type','coffee');
                    axios({
                        method: "POST",
                        url:"http://localhost:9000/upload/uploadPhoto",
                        data: formDate,
                        headers:{
                            "Content-Type": "multipart/form-data"
                        },

                    }).then(res => {
                        if (res.data.code === 0){
                            vm.addParams.coffeePhoto ="http://localhost:9000/img/coffee/" + res.data.fileName + res.data.extendedName;
                            axios({
                                method:"POST",
                                url:"http://localhost:9000/coffee/addCoffee",
                                data:JSON.stringify(vm.addParams),
                                headers: {
                                    "Content-Type":"application/json"
                                }
                            }).then(res => {
                               if (res.data.code === 0){
                                    alert("添加成功!");
                                    window.location.href = "coffeeInsert.html";
                               }
                            }).catch(res => {
                                console.log(res);
                            })
                        }
                    }).catch(res => {
                        console.log(res);
                    })
                }else {
                    alert("验证失败");
                    return false;
                }
            }
            
        }

    })
</script>
</body>

</html>
