<div class="left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">
        <div id="sidebar-menu">
            <ul class="metismenu" id="side-menu">
                <li class="menu-title">咖啡管理后台</li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect">
                        <i class="fa fa-users"></i>
                        <span> 角色管理
                            <span class="float-right menu-arrow">
                                <i class="mdi mdi-chevron-right"></i>
                            </span>
                        </span>
                    </a>
                    <ul class="submenu">
                        <li><a href="userSelect.html"><i class="fa fa-search"></i>用户查询</a></li>
                        <li><a href="userInsert.html"><i class="fa fa-plus"></i>用户录入</a></li>
                        <li><a href="employeesSelect.html"><i class="fa fa-search"></i>员工查询</a></li>
                        <li><a href="employeesInsert.html"><i class="fa fa-plus"></i>员工录入</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect">
                        <i class="fa fa-coffee"></i>
                        <span> 咖啡管理
                            <span class="float-right menu-arrow">
                                <i class="mdi mdi-chevron-right"></i>
                            </span>
                        </span>
                    </a>
                    <ul class="submenu">
                        <li><a href="coffeeSelect.html">咖啡查询</a></li>
                        <li><a href="coffeeInsert.html">咖啡录入</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript:void(0);" class="waves-effect">
                        <i class="ti-email"></i>
                        <span> 销售管理
                            <span class="float-right menu-arrow">
                                <i class="mdi mdi-chevron-right"></i>
                            </span>
                        </span>
                    </a>
                    <ul class="submenu">
                        <li><a href="orderSelect.html">订单查询</a></li>
                        <li><a href="orderInsert.html">订单录入</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="ti-email"></i><span> 库存管理 <span
                            class="float-right menu-arrow"><i
                            class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">
                        <li><a href="stocksSelect.html">库存查询</a></li>
                        <li><a href="storageInsert.html">出入库添加</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="ti-package"></i> <span> 统计报表 <span
                            class="float-right menu-arrow"><i
                            class="mdi mdi-chevron-right"></i></span> </span> </a>
                    <ul class="submenu">
                        <li><a href="statisticalCoffee.html">咖啡统计</a></li>
                        <li><a href="statisticalOrder.html" class="mm-active">订单统计</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="../assets/js/app.js"></script>

