<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>咖啡管理后台-订单查询</title>
    <meta content="Admin Dashboard" name="description"/>
    <meta content="Themesbrand" name="author"/>
    <link rel="shortcut icon" href="../assets/images/favicon.ico">

    <!-- Plugins css -->
    <link href="../assets/plugins/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <link href="../assets/plugins/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="../assets/plugins/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/plugins/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />

    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/metisMenu.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>

<!-- Begin page -->
<div id="wrapper">

    <!-- Top Bar Start -->
    <div class="topbar">

        <!-- LOGO -->
        <div class="topbar-left">
            <a href="index.html" class="logo">
						<span>
							<img src="../assets/images/logo-light.png" alt="" height="18">
						</span>
                <i>
                    <img src="../assets/images/logo-sm.png" alt="" height="22">
                </i>
            </a>
        </div>
        <nav class="navbar-custom">
            <ul class="list-inline menu-left mb-0">
                <li class="float-left">
                    <button class="button-menu-mobile open-left waves-effect">
                        <i class="mdi mdi-menu"></i>
                    </button>
                    <span style="font-size: 18px;margin-left: 5px;">订单查询</span>
                </li>
            </ul>


        </nav>
    </div>
    <!-- Top Bar End -->

    <!-- ========== Left Sidebar Start ========== -->
    <div id="leftMenu">

    </div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page" id="content">
        <!-- 页面主体内容开始 -->
        <div class="content">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="row">

                                <div class="col-sm-2 col-md-2">
                                    <div class="dataTables_filter">
                                        <label>
                                            订单类型:
                                            <select v-model="params.orderType" @click="selectOrderType()" class="custom-select custom-select-md form-control form-control-sm" style="margin-top: -2px">
                                                <option value="1">用户</option>
                                                <option value="2">销售员</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-sm-3 col-md-2">
                                    <div class="dataTables_filter">
                                        <label>
                                            订单号:<input v-model="params.orderId" type="text" class="form-control form-control-sm">
                                        </label>
                                    </div>
                                </div>

                                <div class="col-sm-3 col-md-3">
                                    <div class="form-group">
                                        <label>订单时间:</label>
                                        <div style="margin-top: -10.5px">
                                            <div class="input-daterange input-group" id="date-range">
                                                <input  type="text" class="form-control" id="startTime" />
                                                <input  type="text" class="form-control" id="endTime" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-2 col-md-1">
                                    <div class="dataTables_length" >
                                        <label>
                                            <select v-model="params.orderStatus" class="custom-select custom-select-md form-control form-control-sm" style="margin-top: 17px">
                                                <option value="-1">选择状态</option>
                                                <option value="1">已支付</option>
                                                <option value="2">未支付</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-sm-2 col-md-1">
                                    <div class="dataTables_length" >
                                        <label>
                                            <select v-model="params.pageSize" class="custom-select custom-select-md form-control form-control-sm" style="margin-top: 17px">
                                                <option value="10">10条/页</option>
                                                <option value="25">25条/页</option>
                                                <option value="40">40条/页</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-sm-2 col-md-1">
                                    <button @click="selectOrder()" type="button" class="btn btn-info waves-effect waves-light" style="margin-top: 17px">查询</button>
                                </div>
                            </div>
                            <div v-show="userEmpShow" class="row">
                                <div class="col-sm-12">
                                    <table id="datatable"
                                           class="table table-striped dt-responsive nowrap table-vertical dataTable no-footer dtr-inline"
                                           style="border-collapse: collapse; border-spacing: 0px; width: 100%;"
                                           role="grid" aria-describedby="datatable_info">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1"
                                                colspan="1" style="width: 71px;" aria-sort="ascending"
                                                aria-label="Image: activate to sort column descending">订单编号
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1"
                                                colspan="1" style="width: 118px;"
                                                aria-label="Added Date: activate to sort column ascending">用户姓名
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1"
                                                colspan="1" style="width: 118px;"
                                                aria-label="Added Date: activate to sort column ascending">收货人姓名
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1"
                                                colspan="1" style="width: 86px;"
                                                aria-label="Amount: activate to sort column ascending">收货地址
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1"
                                                colspan="1" style="width: 121px;"
                                                aria-label="No. of Units: activate to sort column ascending">下单时间
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1"
                                                colspan="1" style="width: 66px;"
                                                aria-label="Stock: activate to sort column ascending">下单总额
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1"
                                                colspan="1" style="width: 66px;"
                                                aria-label="Stock: activate to sort column ascending">订单状态
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1"
                                                colspan="1" style="width: 74px;"
                                                aria-label="Action: activate to sort column ascending">操作
                                            </th>
                                        </tr>
                                        </thead>
                                        <tr role="row" class="odd" v-for="(data,index) in dataList">
                                            <td>{{data.orderId}}</td>
                                            <td>{{data.userName}}</td>
                                            <td>{{data.consigneeInformationName}}</td>
                                            <td>{{data.consigneeInformationSite}}</td>
                                            <td>{{((data.orderTime).replace(/T/,"—")).substring(0,19)}}</td>
                                            <td>￥{{data.orderAmount}}</td>
                                            <td v-if="data.orderStatus == 1">已支付</td>
                                            <td v-else>未支付</td>
                                            <td>
                                                <a @click="selectOrderDetail(data.orderId)" href="javascript:void(0);" class="btn-primary" data-toggle="modal" data-target="#orderMoal">
                                                    查看详情
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div v-show="!userEmpShow">
                                <div class="col-sm-12">
                                    <table
                                           class="table table-striped dt-responsive nowrap table-vertical dataTable no-footer dtr-inline"
                                           style="border-collapse: collapse; border-spacing: 0px; width: 100%;"
                                           role="grid" aria-describedby="datatable_info">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1"
                                                colspan="1" style="width: 71px;" aria-sort="ascending"
                                                aria-label="Image: activate to sort column descending">订单编号
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1"
                                                colspan="1" style="width: 118px;"
                                                aria-label="Added Date: activate to sort column ascending">销售员姓名
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1"
                                                colspan="1" style="width: 121px;"
                                                aria-label="No. of Units: activate to sort column ascending">下单时间
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1"
                                                colspan="1" style="width: 66px;"
                                                aria-label="Stock: activate to sort column ascending">下单总额
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1"
                                                colspan="1" style="width: 66px;"
                                                aria-label="Stock: activate to sort column ascending">订单状态
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1"
                                                colspan="1" style="width: 74px;"
                                                aria-label="Action: activate to sort column ascending">操作
                                            </th>
                                        </tr>
                                        </thead>
                                        <tr role="row" class="odd" v-for="(data,index) in dataList" class="row">
                                            <td>{{data.orderId}}</td>
                                            <td>{{data.employeesName}}</td>
                                            <td>{{((data.orderTime).replace(/T/,"—")).substring(0,19)}}</td>
                                            <td>￥{{data.orderAmount}}</td>
                                            <td v-if="data.orderStatus == 1">已支付</td>
                                            <td v-else>未支付</td>
                                            <td>
                                                <a @click="selectOrderDetail(data.orderId)" href="javascript:void(0);" class="btn-primary" data-toggle="modal" data-target="#orderMoal">
                                                    查看详情
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div style="width: 320px">
                                <a href="#">
                                    <ul id="page">

                                    </ul>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- 页面主体内容结束 -->

        <div id="orderMoal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title mt-0" id="myModalLabel">订单详情</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>订单编号</th>
                                                        <th>咖啡名称</th>
                                                        <th>成交价</th>
                                                        <th>成交数量</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="(data,index) in orderDetailList">
                                                        <th scope="row">{{data.orderId}}</th>
                                                        <td>{{data.coffeeName}}</td>
                                                        <td>{{data.transactionPrice}}</td>
                                                        <td>{{data.transactionCount}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <footer class="footer">
            © 2020 毕业设计 <span class="d-none d-sm-inline-block"> - 咖啡销售管理系统.</span>
        </footer>

    </div>

    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->

</div>
<!-- END wrapper -->

<!-- jQuery  -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/vue.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/bootstrap.bundle.min.js"></script>
<script src="../assets/js/metisMenu.min.js"></script>
<script src="../assets/js/jquery.slimscroll.js"></script>
<script src="../assets/js/waves.min.js"></script>
<script src="../assets/js/axios.min.js"></script>
<script src="../assets/js/bootstrap-paginator.js"></script>
<!-- Plugins js -->
<script src="../assets/plugins/js/bootstrap-colorpicker.min.js"></script>
<script src="../assets/plugins/js/bootstrap-datepicker.js"></script>
<script src="../assets/plugins/js/select2.min.js"></script>
<script src="../assets/plugins/js/bootstrap-maxlength.min.js"></script>
<script src="../assets/plugins/js/jquery.bootstrap-touchspin.min.js"></script>

<script src="../assets/pages/form-advanced.js"></script>

<!-- App js -->
<!--<script src="../assets/js/app.js"></script>-->
<script>
    $(function () {
        $("#leftMenu").load("leftMenu.html");

    })
</script>
<script>
    var vm = new Vue({
        el:"#content",
        data:{
            params:{
                orderType:1,
                startTime:null,
                endTime:null,
                orderStatus:-1,
                pageSize:10,
                currentPage:1,
            },
            userEmpShow:true,
            dataList:[],
            orderDetailList:[],
        },
        mounted:function () {
            //初始化时间
            $("#date-range").datepicker({
                autoclose: true, //选择后自动关闭
                clearBtn: true,//清除按钮
                format: "yyyy-mm-dd",//日期格式
            });

            //初始化分页模板
            var options = {
                bootstrapMajorVersion: 4,
                currentPage: this.params.currentPage, // 当前页数
                numberOfPages: 5, // 显示按钮的数量
                totalPages: this.params.pages, // 总页数
                onPageClicked:function(event, originalEvent, type,page){
                    vm.params.currentPage=page;
                    vm.selectOrder();
                },
                onPageChanged:function(event, oldPage, newPage){
                    vm.params.currentPage=newPage;
                    vm.selectOrder();
                }
            };
            $("#page").bootstrapPaginator(options);

            this.selectOrder();
        },
        methods:{

            //选择销售订单类型
            selectOrderType:function(){
                if (this.params.orderType == 1){
                    this.userEmpShow = true;
                    this.selectOrder();
                }else if (this.params.orderType == 2){
                    this.userEmpShow = false;
                    this.selectOrder();
                }
            },

            //查询满足条件的订单信息
            selectOrder:function () {
                this.params.startTime = $("#startTime").val();
                this.params.endTime = $("#endTime").val();
                axios({
                    method:'GET',
                    url:'http://localhost:9000/orders/selectOrders',
                    params: this.params,
                }).then(res => {
                    if (res.data.code === 0){
                        vm.dataList = res.data.dataList;
                        vm.params.pages = res.data.pages;//总页数
                        vm.params.currentPage = res.data.pageNum //第几页
                        $("#page").bootstrapPaginator('setOptions',{currentPage:vm.params.currentPage,totalPages:vm.params.pages});
                    }
                }).catch(res => {
                    console.log(res);
                })
            },

            //查看订单详情
            selectOrderDetail:function (orderId) {
                axios({
                    method:'GET',
                    url:'http://localhost:9000/orders/selectOrderDetail',
                    params:{"orderId":orderId},
                }).then(res => {
                    if (res.data.code === 0){
                        vm.orderDetailList = res.data.dataList;
                    }
                }).catch(res => {
                    console.log(res);
                })
            }
        }
    });
</script>
</body>

</html>
